<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zx.dao.CompanyPropagandaMapper">
  <resultMap id="BaseResultMap" type="cn.zx.pojo.CompanyPropaganda">
    <id column="p_id" jdbcType="INTEGER" property="p_id" />
    <result column="p_title" jdbcType="VARCHAR" property="p_title" />
    <result column="pic_URL" jdbcType="VARCHAR" property="pic_URL" />
    <result column="company_id" jdbcType="INTEGER" property="company_id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="end_time" jdbcType="TIMESTAMP" property="end_time" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="o" jdbcType="INTEGER" property="o" />
  </resultMap>
  <select id="selectPropaganda" resultType="CompanyPropaganda">
  	SELECT p_id,company_id,p_title,pic_URL,create_time,end_time,STATUS,o 
  	FROM company_propaganda
  	<where>
  		status=1
  		<if test="company_id != null">
  			and company_id=#{company_id}
  		</if>
  		<if test="p_id != null">
  			and p_id=#{p_id}
  		</if>
  	</where>
  	order by create_time desc
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="cn.zx.pojo.CompanyPropaganda">
    update company_propaganda
    <set>
      <if test="p_title != null">
        p_title = #{p_title,jdbcType=VARCHAR},
      </if>
      <if test="pic_URL != null">
        pic_URL = #{pic_URL,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="end_time != null">
        end_time = #{end_time,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="o != null">
        o = #{o,jdbcType=INTEGER},
      </if>
    </set>
    where p_id = #{p_id,jdbcType=INTEGER}
  </update>
  <insert id="insertPropaganda" parameterType="CompanyPropaganda"> 
  	INSERT INTO company_propaganda(company_id,p_title,pic_URL,create_time,end_time,STATUS,o)
	VALUES(#{company_id},#{p_title},#{pic_URL},#{create_time},#{end_time},#{status},#{o})
  	
  </insert>
</mapper>