<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zx.dao.CompanyBasicMapper">
  <resultMap id="BaseResultMap" type="cn.zx.pojo.CompanyBasic">
    <id column="B_id" jdbcType="INTEGER" property="b_id" />
    <result column="company_name" jdbcType="VARCHAR" property="company_name" />
    <result column="URL" jdbcType="VARCHAR" property="URL" />
    <result column="company_id" jdbcType="INTEGER" property="company_id" />
    <result column="slogan" jdbcType="VARCHAR" property="slogan" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="standard" jdbcType="INTEGER" property="standard" />
    <result column="days" jdbcType="INTEGER" property="days" />
    <result column="panel_point" jdbcType="INTEGER" property="panel_point" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <!-- 查询企业基础信息 -->
  <select id="selectBasic" resultMap="BaseResultMap">
  	 select B_id,company_id,URL,slogan,period,standard,days,panel_point,password,company_name from company_basic
 	inner join company_message on m_id=company_id
  	  where company_id=#{company_id}
  </select>
  <!-- 修改企业基础信息 -->
  <update id="updateBasicByID" parameterType="CompanyBasic">
 	 UPDATE company_basic 
 	 <set>
 	 	<if test="URL != null">
 	 		URL=#{URL},
 	 	</if>
 	 	<if test="slogan != null">
 	 		slogan=#{slogan},
 	 	</if>
 	 	<if test="period != 0">
 	 		period=#{period},
 	 	</if>
 	 	<if test="standard != 0">
 	 		standard=#{standard},
 	 	</if>
 	 	<if test="days != 0">
 	 		days=#{days},
 	 	</if>
 	 	<if test="panel_point != 0">
 	 		panel_point=#{panel_point},
 	 	</if>
 	 	<if test="password != null">
 	 		password=#{password},
 	 	</if>
 	 </set>
 	WHERE b_id=#{b_id}
  </update>
</mapper>